<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.uqbar.project.wollok.ui.startup">
      <startup
            class="org.uqbar.project.wollok.product.ui.startup.RemoveWizardsStartup">
      </startup>
      <startup
            class="org.uqbar.project.wollok.product.ui.startup.OpenDebugPerspectiveOnStartup">
      </startup>
   </extension>

</plugin>
