*/bin/
/eclipse/*
**/target/
.metadata/*
.DS_Store
/target/
*/workspace/
org.eclipse.*
pom.xml.versionsBackup
*._trace
CHANGELOG.txt
changelog.txt
CHANGELOG.md
xtend-gen
eclipse
.classpath
.project
.recommenders
.history
scripts/libs
scripts/jars
scripts/wollok-site