<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
           point="org.eclipse.ui.views">
        <view
              category="org.uqbar.project.wollok.ui.diagrams.category"
              class="org.uqbar.project.wollok.ui.diagrams.classes.WollokDslExecutableExtensionFactory:org.uqbar.project.wollok.ui.diagrams.classes.StaticDiagramView"
              icon="icons/class_diagram_icon.png"
              id="org.uqbar.project.wollok.ui.diagrams.class"
              name="%staticDiagramView"
              restorable="true">
        </view>
        <view
              category="org.uqbar.project.wollok.ui.diagrams.category"
              class="org.uqbar.project.wollok.ui.diagrams.classes.WollokDslExecutableExtensionFactory:org.uqbar.project.wollok.ui.diagrams.objects.ObjectDiagramView"
              icon="icons/class_diagram_icon.png"
              id="org.uqbar.project.wollok.ui.diagrams.object"
              name="Object Diagram"
              restorable="true">
        </view>
        
        <category
              id="org.uqbar.project.wollok.ui.diagrams.category"
              name="Wollok Diagrams">
        </category>
     </extension>
     <extension
           point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
        	<view id="org.uqbar.project.wollok.ui.diagrams.object" 
                relative="org.eclipse.ui.views.ContentOutline"
                relationship="stack"
                visible="true"/>
        </perspectiveExtension>
     </extension>
</plugin>
