<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.uqbar.project.wollok.targetplatform" sequenceNumber="15">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.xpect.sdk.feature.group" version="0.1.0.201409041611"/>
<repository location="http://www.xpect-tests.org/updatesite/nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.zest.feature.group" version="1.5.101.201408150207"/>
<repository location="http://download.eclipse.org/tools/gef/updates/releases/3.9.101_gef-maintenance_810/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="4.4.0.v20140925-0400"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.100.v20140819-1617"/>
<unit id="epp.package.java" version="4.4.1.20150109-0740"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="it.xsemantics.runtime.feature.source.feature.group" version="1.7.2.v20150304-1517"/>
<unit id="it.xsemantics.runtime.feature.feature.group" version="1.7.2.v20150304-1517"/>
<unit id="it.xsemantics.sdk.feature.group" version="1.7.2.v20150304-1517"/>
<unit id="it.xsemantics.feature.feature.group" version="1.7.2.v20150304-1517"/>
<repository location="http://sourceforge.net/projects/xsemantics/files/updates/releases/1.7"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.1.v201405091103"/>
<unit id="de.itemis.xtext.antlr.sdk.feature.group" version="2.1.1.v201405091103"/>
<repository location="http://download.itemis.com/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.7.3.v201411190455"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
