<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org_uqbar_project_wollok_product"
         name="Wollok"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Wollok">
         <property
               name="appName"
               value="Wollok">
         </property>
         <property
               name="aboutImage"
               value="icons/wollok-logo-about.fw.png">
         </property>
         <property
               name="aboutText"
               value="Wollok Programming Language and IDE&#x0A;Version 3.0.0&#x0A;&#x0A;http://uqbar-project.org&#x0A;http://wollok.org&#x0A;&#x0A;© Copyright 2014-2021, Uqbar Project Foundation, All rights reserved">
         </property>
         <property
               name="windowImages"
               value="icons/wollok-logo.iconset/icon_16x16.png,icons/wollok-logo.iconset/icon_32x32.png,icons/wollok-logo.iconset/icon_48x48.png,icons/wollok-logo.iconset/icon_64x64.png,icons/wollok-logo.iconset/icon_128x128.png,icons/wollok-logo.iconset/icon_256x256.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFF9D9">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <!-- THEME -->
         <property
           name="cssinTheme"
           value="org.eclipse.e4.ui.css.theme.e4_default">
     	 </property>

     	 <!-- INTRO -->
     	 <property
               name="introBrandingImage"
               value="icons/icon_32x32.png">
         </property>
         <property
               name="introTitle"
               value="%introTitle">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

   <!-- INTRO -->
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.uqbar.project.wollok.product.intro">
      </intro>
      <!--
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.uqbar.project.wollok.product.org_uqbar_project_wollok_product">
      </introProductBinding>
		-->
      <introProductBinding
            introId="org.uqbar.project.wollok.product.intro"
            productId="org.uqbar.project.wollok.product.org_uqbar_project_wollok_product">
      </introProductBinding>
   </extension>
   <extension
   		id="intro"
   		name="intro"
        point="org.eclipse.ui.intro.config">
      <config
            content="%introContent"
            id="org.uqbar.project.wollok.product.introConfigId"
            introId="org.uqbar.project.wollok.product.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html">
            </implementation>
         </presentation>
      </config>
   </extension>
	<!-- /INTRO -->

</plugin>
