<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.uqbar.project.wollok.game.ui.importWizards.sampleCategory"
            name="Wollok">
      </category>
      <wizard
            category="org.uqbar.project.wollok.game.ui.importWizards.sampleCategory"
            class="org.uqbar.project.wollok.game.ui.importWizards.ImportGame"
            icon="icons/wollok-logo-16.fw.png"
            id="org.uqbar.project.wollok.game.ui.importWizards.ImportGame"
            name="Import Wollok Game">
         <description>
            Import a Wollok Game configuration file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
  <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.uqbar.project.wollok.game.ui.exportWizards.sampleCategory"
            name="Wollok">
      </category>
      <wizard
            category="org.uqbar.project.wollok.game.ui.exportWizards.sampleCategory"
            class="org.uqbar.project.wollok.game.ui.exportWizards.ExportGame"
            icon="icons/wollok-logo-16.fw.png"
            id="org.uqbar.project.wollok.game.ui.exportWizards.ExportGame"
            name="Export Wollok Game">
         <description>
            Export int a file the game you are configured.
         </description>
      </wizard>
   </extension>
</plugin>
