<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
<!--
	   <extension point="org.eclipse.emf.ecore.generated_package">
	      <package
	            uri="http://uqbar-project.org/wollok/WollokTypeSystem"
	            class="org.uqbar.project.wollok.wollokTypeSystem.WollokTypeSystemPackage"
	            genModel="src/org/uqbar/project/wollok/typesystem/WollokTypeSystem.genmodel"/>
	   </extension>
-->

    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="org.uqbar.project.wollok.WollokDsl"
            class="org.uqbar.project.wollok.typeSystem.xsemantics.ui.internal.WollokDslExecutableExtensionFactory:org.uqbar.project.wollok.typeSystem.xsemantics.ui.preferences.TypeSystemPreferencePage"
            id="org.uqbar.project.wollok.WollokDsl.typeSystem.preferencePage"
            name="%typeSystem">
            <keywordReference id="org.uqbar.project.wollok.ui.keyword_WollokDsl"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.uqbar.project.wollok.typeSystem.xsemantics.ui.internal.WollokDslExecutableExtensionFactory:org.uqbar.project.wollok.typeSystem.xsemantics.ui.preferences.TypeSystemPreferencePage"
            id="org.uqbar.project.wollok.WollokDsl.typeSystem.propertyPage"
            category="org.uqbar.project.wollok.WollokDsl"
            name="%typeSystem">
            <keywordReference id="org.uqbar.project.wollok.ui.keyword_WollokDsl"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
          point="org.uqbar.project.wollok.ui.wollokTypeSystemLabelExtension">
       <wollokTypeSystemLabelExtension
             class="org.uqbar.project.wollok.typeSystem.xsemantics.ui.internal.WollokDslExecutableExtensionFactory:org.uqbar.project.wollok.typeSystem.xsemantics.ui.labeling.XSemanticsWollokTypeSystemLabelExtension">
       </wollokTypeSystemLabelExtension>
    </extension>
    <extension
          point="org.uqbar.project.wollok.wollokValidationExtension">
       <wollokValidationExtension
             class="org.uqbar.project.wollok.typeSystem.xsemantics.ui.internal.WollokDslExecutableExtensionFactory:org.uqbar.project.wollok.typesystem.validations.XSemanticsWollokValidationExtension">
       </wollokValidationExtension>
    </extension>
    <!-- Type System preferences -->
</plugin>
