<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- LAUNCH CONFIG -->

	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.uqbar.project.wollok.ui.launch.WollokLaunchConfigurationType"
            modes="run"
            name="Wollok Program"
            delegate="org.uqbar.project.wollok.ui.launch.WollokDslExecutableExtensionFactory:org.uqbar.project.wollok.ui.launch.shortcut.WollokLaunchDelegate"
            sourceLocatorId="org.uqbar.project.wollok.ui.launch.sourceLocator"
            sourcePathComputerId="org.uqbar.project.wollok.ui.launch.sourcePathComputer"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/w.png"
            configTypeID="org.uqbar.project.wollok.ui.launch.WollokLaunchConfigurationType"
            id="org.uqbar.project.wollok.ui.launch.WollokLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   
   <!-- LAUNCH CONFIG FOR TESTS -->
	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.uqbar.project.wollok.ui.launch.WollokTestLaunchConfigurationType"
            modes="run"
            icon="icons/w.png"
            name="%wollok.launch.tests"
            delegate="org.uqbar.project.wollok.ui.launch.WollokDslExecutableExtensionFactory:org.uqbar.project.wollok.ui.tests.shortcut.WollokTestLaunchDelegate"
            sourceLocatorId="org.uqbar.project.wollok.ui.launch.sourceLocator"
            sourcePathComputerId="org.uqbar.project.wollok.ui.launch.sourcePathComputer"/>
   </extension>
	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.uqbar.project.wollok.ui.launch.WollokTestLaunchConfigurationType"
            modes="run"
            icon="icons/w.png"
            name="%wollok.launch.testsWithDynamicDiagram"
            delegate="org.uqbar.project.wollok.ui.launch.WollokDslExecutableExtensionFactory:org.uqbar.project.wollok.ui.tests.shortcut.WollokTestLaunchDelegate"
            sourceLocatorId="org.uqbar.project.wollok.ui.launch.sourceLocator"
            sourcePathComputerId="org.uqbar.project.wollok.ui.launch.sourcePathComputer"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.uqbar.project.wollok.ui.launch.WollokTestLaunchConfigurationType"
            icon="icons/file_wtest.png"
            id="org.uqbar.project.wollok.ui.launch.WollokTestLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
      
   <!-- LAUNCH CONFIG TAB (UI) -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.uqbar.project.wollok.ui.launch.WollokLaunchConfigurationType"
            description="Run a Wollok program"
            class="org.uqbar.project.wollok.ui.launch.WollokTabGroup"
            id="org.uqbar.project.wollok.ui.launch.WollokLaunchConfigurationType.launchTabGroup">
      </launchConfigurationTabGroup>
   </extension>

   <!-- LAUNCH CONFIG TAB FOR TESTS (UI) -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.uqbar.project.wollok.ui.launch.WollokTestLaunchConfigurationType"
            description="Run a Wollok program"
            class="org.uqbar.project.wollok.ui.tests.launch.WollokTestsTabGroup"
            id="org.uqbar.project.wollok.ui.launch.WollokTestLaunchConfigurationType.launchTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   
   <!-- SOURCE LOOKUP -->
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.uqbar.project.wollok.debugger.client.source.WollokSourceLookupDirector"
            id="org.uqbar.project.wollok.ui.launch.sourceLocator"
            name="Wollok Source Lookup Director">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.uqbar.project.wollok.debugger.client.source.WollokSourcePathComputer"
            id="org.uqbar.project.wollok.ui.launch.sourcePathComputer">
      </sourcePathComputer>
   </extension>
   <!-- /SOURCE LOOKUP -->

	<!-- SHORTCUTS & BINDINGS -->
	<extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.uqbar.project.wollok.ui.launch.shortcut.WollokLaunchShortcut"
            description="Launch Wollok"
            id="org.uqbar.project.wollok.ui.launch.shortcut"
            label="Run Wollok Program"
            modes="run"
            icon="icons/w.png">
          <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt type="org.eclipse.core.resources.IFile"/>
                  <test property="org.eclipse.debug.ui.matchesPattern" value="*.wpgm"/>
               </iterate>
             </with>
           </enablement>
           <contextLabel
              mode="run"
              label="Wollok Program"/>
          <!--contextLabel
              mode="debug"
              label="Wollok Program"/-->
         </contextualLaunch>
      </shortcut>
      <!-- REPL -->
      <shortcut
            class="org.uqbar.project.wollok.ui.launch.shortcut.WollokLaunchShortcutWithRepl"
            description="Launch Wollok with Repl"
            icon="icons/w.png"
            id="org.uqbar.project.wollok.ui.launch.shortcut.repl"
            label="Launch with Repl"
            modes="run">
          <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt type="org.eclipse.core.resources.IFile"/>
	              <test property="org.eclipse.debug.ui.matchesPattern" value="*.wlk"/>
               </iterate>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <!-- /REPL -->
      <!-- TESTS -->
      <shortcut
            class="org.uqbar.project.wollok.ui.tests.shortcut.WollokTestLaunchShortcut"
            description="Launch Wollok Tests"
            icon="icons/file_wtest.png"
            id="org.uqbar.project.wollok.ui.tests.shortcut"
            label="%wollok.launch.tests"
            modes="run">
          <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="*"/>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  	<adapt type="org.eclipse.core.resources.IFile"/>
                  	<test property="org.eclipse.debug.ui.matchesPattern" value="*.wtest"/>
               </iterate>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="org.uqbar.project.wollok.ui.tests.shortcut.WollokTestDynamicDiagramLaunchShortcut"
            description="Launch Wollok Tests with Dynamic Diagram"
            icon="icons/run_test_with_dynamic_diagram.png"
            id="org.uqbar.project.wollok.ui.testsWithDynamicDiagram.shortcut"
            label="%wollok.launch.testsWithDynamicDiagram"
            modes="run">
          <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  	<adapt type="org.eclipse.core.resources.IFile"/>
                  	<test property="org.eclipse.debug.ui.matchesPattern" value="*.wtest"/>
               </iterate>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="org.uqbar.project.wollok.ui.tests.shortcut.WollokAllTestsLaunchShortcut"
            description="Launch All Wollok Tests"
            icon="icons/file_wtest.png"
            id="org.uqbar.project.wollok.ui.allTests.shortcut"
            label="%wollok.launch.allTests"
            modes="run">
          <contextualLaunch>
           <enablement>
             <with variable="selection">
               <!--count value="1"/-->
               <iterate
                     ifEmpty="false"
                     operator="and">
                  	<adapt type="org.eclipse.core.resources.IResource"/>
                  	<test property="org.eclipse.jdt.launching.isContainer"/>
               </iterate>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <!-- /TESTS -->
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run Wollok Program"
            id="org.uqbar.project.wollok.ui.launch.shortcut.run"
            name="Run Wollok">
      </command>
   	  <!--command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Debug Wollok Program"
            id="org.uqbar.project.wollok.ui.launch.shortcut.debug"
            name="Debug Wollok">
      </command-->
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run Wollok Program with REPL"
            id="org.uqbar.project.wollok.ui.launch.shortcut.repl.run"
            name="Run Wollok REPL">
      </command>
   	  <!--command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Debug Wollok Program with REPL"
            id="org.uqbar.project.wollok.ui.launch.shortcut.repl.debug"
            name="Debug Wollok REPL">
      </command-->
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run Wollok Tests"
            id="org.uqbar.project.wollok.ui.tests.shortcut.run"
            name="%wollok.run.tests">
      </command>
   	  <!--command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Debug Wollok Tests"
            id="org.uqbar.project.wollok.ui.tests.shortcut.debug"
            name="%wollok.debug.tests">
      </command-->
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            defaultHandler="org.uqbar.project.wollok.ui.launch.WollokDslExecutableExtensionFactory:org.uqbar.project.wollok.ui.launch.handlers.LaunchReplWithoutFileHandler"
            description="%wollok.launch.replWithoutFile.desc"
            id="org.uqbar.project.wollok.ui.launch.launchReplWithoutFile"
            name="%wollok.launch.replWithoutFile">
      </command>
   </extension>
   	<extension
          point="org.eclipse.ui.bindings">
        <key
            sequence="M2+M3+X W"
            commandId="org.uqbar.project.wollok.ui.launch.shortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <!--key
              commandId="org.uqbar.project.wollok.ui.launch.shortcut.repl.debug"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M2+M3+D R">
        </key-->
        <key
              commandId="org.uqbar.project.wollok.ui.launch.shortcut.repl.run"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M2+M3+X R">
        </key>
        <!--key
              commandId="org.uqbar.project.wollok.ui.launch.shortcut.debug"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M2+M3+D W">
        </key-->
    </extension>
   <!-- SHORTCUTS & BINDINGS -->
   
	<!-- BREAKPOINTS -->
	<!--extension point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="org.uqbar.project.wollok.ui.launch.lineBreakpoint.marker"
            class="org.uqbar.project.wollok.debugger.model.WollokLineBreakpoint"
            id="org.uqbar.project.wollok.ui.launch.lineBreakpoint">
      </breakpoint>
   </extension>
   <extension point="org.eclipse.core.resources.markers"
         id="org.uqbar.project.wollok.ui.launch.lineBreakpoint.marker"
         name="Wollok Line Breakpoint">
      <super type="org.eclipse.debug.core.lineBreakpointMarker" />
      <persistent value="true" />
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.uqbar.project.wollok.debugger.WollokBreakpointAdapterFactory"
            adaptableType="org.uqbar.project.wollok.ui.editor.WollokTextEditor">
         <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension-->
   
   <!-- DEBUG MODEL & CONTEXT -->
   	<!--extension
         point="org.eclipse.ui.contexts">
      <context
            name="Debugging Wollok"
            description="Wollok Context"
            id="org.uqbar.project.wollok.debugger.context"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.uqbar.project.wollok.debugger.WollokDebugModelPresentation"
            id="org.uqbar.project.wollok.debugger.model">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            debugModelId="org.uqbar.project.wollok.debugger.model"
            contextId="org.uqbar.project.wollok.debugger.context">
      </modelContextBinding>
   </extension-->
   <!-- /DEBUG MODEL -->
   <!-- /BREAKPOINTS -->
    
    <!-- BREAKPOINTS ACTIONS -->
    <!--extension point="org.eclipse.ui.editorActions">
      <editorContribution targetID="org.uqbar.project.wollok.WollokDsl" 
                          id="org.uqbar.project.wollok.WollokDsl.rulerActions">
	     <action
	             label="Not Used"
	             class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
	             style="push"
	             actionID="RulerDoubleClick"
	             id="org.uqbar.project.wollok.debugger.doubleClickBreakpointAction"/>
   	  </editorContribution>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
         targetID="org.uqbar.project.wollok.WollokDsl"
         id="org.uqbar.project.wollok.debugger.RulerPopupActions">
         <action
            label="Toggle Breakpoint"
            class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
            menubarPath="additions"
            id="org.uqbar.project.wollok.debugger.rulerContextMenu.toggleBreakpointAction">
         </action>
      </viewerContribution>
   </extension-->
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.uqbar.project.wollok.ui.views.category"
            class="org.uqbar.project.wollok.ui.launch.WollokDslExecutableExtensionFactory:org.uqbar.project.wollok.ui.tests.WollokTestResultView"
            icon="icons/w-tests.png"
            id="org.uqbar.project.wollok.ui.launch.resultView"
            name="%wollok.tests.view.name"
            restorable="true">
      </view>
      <stickyView
            closeable="true"
            id="org.uqbar.project.wollok.ui.launch.resultView"
            location="LEFT"
            moveable="true">
      </stickyView>
   </extension>
  <!-- /BREAKPOINTS ACTIONS -->

  <!-- REPL CONSOLE PARTICIPANTS -->
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.uqbar.project.wollok.ui.console.actions.WollokReplConsoleActionsParticipant"
            id="org.uqbar.project.wollok.ui.console.actions.WollokReplConsoleActionsParticipant">
         <enablement>
            <instanceof value="org.uqbar.project.wollok.ui.console.WollokReplConsole"/>
         </enablement>
      </consolePageParticipant>
      <consolePageParticipant
            class="org.uqbar.project.wollok.ui.console.highlight.WollokReplConsolePageParticipant"
            id="org.uqbar.project.wollok.ui.console.highlight.WollokReplConsolePageParticipant">
         <enablement>
            <instanceof value="org.uqbar.project.wollok.ui.console.WollokReplConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.debug.ui.launchActionSet">
            <command
                  commandId="org.uqbar.project.wollok.ui.launch.launchReplWithoutFile"
                  icon="platform:/plugin/org.eclipse.jdt.debug.ui/icons/full/elcl16/resume_co.gif"
                  label="%wollok.launch.replWithoutFile"
                  style="push"
                  tooltip="%wollok.launch.replWithoutFile.desc">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.uqbar.project.wollok.ui.console.WollokLinkListenerDelegate"
            id="WollokLink.ConsolePatternMatchListener"
            regex="[ /(]([ \S]+.:\d+)+">
         <enablement></enablement>
      </consolePatternMatchListener>
   </extension>
  <!-- /REPL -->
	<!--extension point="org.eclipse.ui.activities">  
	   <activity id="hideRun" name="MenuHidingActivity">  
	   </activity>
	   <activityPatternBinding activityId="hideRun" pattern="org.eclipse.debug.internal.ui.actions.RunDropDownAction">  
	   </activityPatternBinding>
	</extension--> 

	<extension point="org.eclipse.ui.activities">  
	   <activity id="hideDebug" name="MenuHidingActivity">  
	   </activity>
	   <activityPatternBinding activityId="hideDebug" pattern="org.eclipse.debug.internal.ui.actions.DebugDropDownAction">  
	   </activityPatternBinding>
	</extension> 

	<extension point="org.eclipse.ui.activities">  
	   <activity id="hideRunExternalTool" name="MenuHidingActivity">  
	   </activity>
	   <activityPatternBinding activityId="hideRunExternalTool" pattern="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">  
	   </activityPatternBinding>
	</extension> 

	<extension point="org.eclipse.ui.activities">  
	   <activity id="hideRunExternal" name="MenuHidingActivity">  
	   </activity>
	   <activityPatternBinding activityId="hideRunExternal" pattern="org.eclipse.ui.externalTools.commands.OpenExternalToolsConfigurations">  
	   </activityPatternBinding>
	</extension>

	<!--extension point="org.eclipse.ui.activities">  
	   <activity id="hideRunLast" name="MenuHidingActivity">  
	   </activity>
	   <activityPatternBinding activityId="hideRunLast" pattern="org.eclipse.debug.ui.commands.RunLast">  
	   </activityPatternBinding>
	</extension-->	

	<extension point="org.eclipse.ui.activities">  
	   <activity id="hideDebug" name="MenuHidingActivity">  
	   </activity>
	   <activityPatternBinding activityId="hideDebug" pattern="org.eclipse.debug.internal.ui.actions.DebugDropDownAction">
	   </activityPatternBinding>
	</extension>	

	<extension point="org.eclipse.ui.activities">  
	   <activity id="hideOpenTask" name="MenuHidingActivity">  
	   </activity>
	   <activityPatternBinding activityId="hideOpenTask" pattern="org.eclipse.mylyn.tasks.ui.command.openTask">  
	   </activityPatternBinding>
	</extension>	

	<extension point="org.eclipse.ui.activities">  
	   <activity id="hideNextAnnotation" name="MenuHidingActivity">  
	   </activity>
	   <activityPatternBinding activityId="hideNextAnnotation" pattern="org.eclipse.ui.navigate.next">  
	   </activityPatternBinding>
	</extension>	

	<extension point="org.eclipse.ui.activities">  
	   <activity id="hidePrevAnnotation" name="MenuHidingActivity">  
	   </activity>
	   <activityPatternBinding activityId="hidePrevAnnotation" pattern="org.eclipse.ui.navigate.previous">  
	   </activityPatternBinding>
	</extension>
	
	<extension point="org.eclipse.ui.activities">  
	   <activity id="hideRunOSGI" name="MenuHidingActivity">  
	   </activity>
	   <activityPatternBinding activityId="hideRunOSGI" pattern="org.eclipse.pde.ui.EquinoxLaunchShortcut.run">  
	   </activityPatternBinding>
	</extension>	

</plugin>
