Host wollok_cli
    HostName github.com
    PreferredAuthentications publickey
    IdentityFile             ~/.ssh/wollokcli_key
    IdentitiesOnly           yes

Host wollok_site
    HostName github.com
    PreferredAuthentications publickey
    IdentityFile             ~/.ssh/wolloksite_key
    IdentitiesOnly           yes    