name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run Maven Build
        run: | 
          export DISPLAY=:99.0
          sudo apt-get install -y xvfb
          ./wollokInstall.sh
          cd org.uqbar.project.wollok.releng/
          export PROFILES=normalProfile
          export UPDATE_SITE=none
          echo "Running with profiles $PROFILES"
          echo "Running with UPDATE_SITE $UPDATE_SITE"
          export MAVEN_OPTS=-Xmx2048m
          xvfb-run mvn -e -Darguments='-Dtycho.disableP2Mirrors=false' \
           -D tycho.disableP2Mirrors=false -U \
           -D service=github \
           -D repoToken=${{ secrets.GITHUB_TOKEN }} \
           -D serviceBuildUrl=https://github.com/${{ github.repository }}/commit/${{ github.sha }}/checks \
           -D branch=$BRANCH_NAME \           
           clean install jacoco:report \
           coveralls:report \
           --no-transfer-progress \
           -P $PROFILES
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            LICENSE.txt
            *.zip
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CI_NAME: github
          BRANCH_NAME_OR_REF: ${{ github.head_ref || github.ref }}
          CI_BUILD_NUMBER: ${{ github.run_id }}
          CI_BUILD_URL: https://github.com/${{ github.repository }}/commit/${{ github.event.after }}/checks
          CI_PULL_REQUEST: ${{ steps.refs.outputs.pr_number }}
